body{
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.intellisense{
    width: 350px;
    height: 350px;
    margin-left: 10%;
}
.meet{
    margin-left: 37%;
    margin-top: -18%;
    font-size: 25px;
}
.texto1{
    margin-left: 34.5%;
    margin-top: -0.5%;
    line-height: 2.5em;
    font-size: 17px;
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.cajaSecundaria{
    width: 75%;
    height: 40%;
    margin-left: 10%;
    background-color: rgb(240, 236, 236);
}
.debug{
    font-size: 22px;
    padding-top: 5%;
    margin-left: 6.5%;
}
.texto2{
    margin-top: -1%;
    padding-left: 3%;
    line-height: 2.5em;
    font-size: 17px;
    font-family: "Segoe UI","Helvetica Neue","Helvetica",Arial,sans-serif;
}
.home-debug{
    width: 350px;
    height: 350px;
    margin-left: 67%;
    margin-top: -24%;
}