.transiciones{
    width: 800px;
    height: 100px;
    border: 1px solid black;
    margin-top: 7%;
    margin-left: 22%;
    font-size: 25px;
}
.transiciones p{
    padding-top: 2%;
}
li{
    list-style: none;
    float: left;
    width: 10%;
}
nav{
    margin-left: 23%;
    margin-top: 10%;
}
ul img{
    width: 80px;
    height: 80px;
    transition: all .5s ease;
}
li img:hover{
    transform:scale(1.25);
}
#texto1,#texto2,#texto3,#texto4,#texto5,#texto6{
    visibility: hidden;
}
.ShadowHunter:hover #texto1,.ShadowHunterBETA:hover #texto2,.Shaman:hover #texto3,.Tauren:hover #texto4,.TaurenChieftain:hover #texto5,.Thrall:hover #texto6{
    visibility: visible;
} 