body{
    font-family: Arial, Helvetica, sans-serif;
}
.cajaPrincipal{
    width: 70%;
    height: 75%;
    border-radius: 5px;
    border: 1px solid lightgray;
}
img{
    width: 60px;
    height: 65px;
    border-radius: 40px; 
    margin-left: 40px;
    margin-top: 20px;
}
.titulo{
    color: #34A9E5;
    font-size: 20px;
    padding-left: 130px;
    margin-top: -70px;
}
table{
    margin-left: 130px;
    font-size: 12px;
}
span{
    color: #4AB8F0;
}
table td img{
    width: 20px;
    height: 20px;
    margin-left: -1px;
    margin-top: -1px;
    margin-right: 3px;
}
.etiqueta{
    width: 20px;
    height: 20px;
    margin-left: 150px;
}
.mensajeEtiqueta{
    font-size: 10px;
    padding-left: 160px;
    margin-top: -25px;
    color: #71777C; 
}
.textoPrincipal{
    width: 85%;
    height: 59%;
    margin-left: 130px;
}
p{
    line-height: 2em;
    margin-left: 20px;
    font-size: 13.5px;
    color: #71777C; 
}
.reading{
    padding-left: 70%;
    margin-top: -50px;
}